.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
color: #D2691E;
font-size: 30px;
font-weight: bolder;
}

#status
{
font-size: 18px;
color: #D2691E;
font-size: 20px;
}

body {
    background-size: cover;
    background-position: center;
    background-image: url(gatito.jpg);
}

canvas{
    box-shadow: 10px 10px 10px grey;
    border-radius: 10px;
    margin: 30px;
}
#status, #numberOfObjects, #startModel {
    font-size: 18px;
}